*{
    box-sizing: border-box;
    

}
 body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.header, .footer{
    padding: 16px;
    background-color: black;
    color: white;
    text-align: center;
    position: sticky;
}
.layout{
    display: flex;
    min-height: calc(100vh-100px);
}
.sidebar{
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
}
.content{
    display: flex;
    width: 75%;
    gap: 50px;
    padding: 20px;
    flex:1;
    

}
.ads{
    width: 250px;
    background-color: beige;
    padding: 20px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;

    padding: 20px;
}
.card1, .card2, .card3, .card4, .card5, .card6{
    background: salmon;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card-btn,{
    margin-top: 15px;
    padding: 10px 18px;
    background-color: beige;
border: none;
border-radius: 6px;
cursor: pointer
font- size 14px;;
}
.card-btn:hover{
    background-color: bisque;
}