* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}

.header {
    display: flex;
    background-color: #222;
    color: #f4f4f4;
    padding: 20px;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    min-height: calc(20px + 2vw);
    gap: 40px;

}

/* .search-bar {
    height: 20px;
    width: 40px;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
} */



.main {
    display: flex;
    min-height: calc(100vh - 115px);
}

.sidebar {
    display: flex;
    width: 21%;
    background-color: #92ef1f;
    flex-direction: column;
}

.tab {
    margin: 10px;
    padding: 15px 20px;
    background-color: #1af0e6;
    cursor: pointer;
}
.tab:hover {
    background-color: #92ef1f;
}

.content {
    display: flex;
    width: 79%;
    background-color: #1af0e6;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    background-color: #222;
    color: #f4f4f4;
    padding: 20px;
    justify-content: center;
}