*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display:flex;
    background-color: #222;
    color: #f4f4f4;
    padding: 20px;
    justify-content: center;
    gap:20px
}
.main{
    display:flex;
    min-height: calc(100vh - 115px);
}
.sidebar{
    display: flex;
    width:21%;
    background-color: #24e76f;
    flex-direction: column;
}
.tab{
    margin: 10px;
    padding: 15px 20px;
    background-color: #26dc50;
    cursor: pointer;
}
.tab:hover{
    background-color: #24e76f;
}
.content{
    display: flex;
    width:100%;
    background-color: aquamarine;
     justify-content: center;
    align-items: center; 
}
.footer{
    display:flex;
    background-color: #222;
    color: #f4f4f4;
    padding: 20px;
    justify-content: center;
}
